/*.container-main .sidebar {
    background-color: #050607;
    background-image: 
    radial-gradient(circle at 100% 150%, #050607 24%, #111213 25%, #111213 28%, #050607 29%, #050607 36%, #111213 36%, #111213 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, #050607 24%, #111213 25%, #111213 28%, #050607 29%, #050607 36%, #111213 36%, #111213 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, #111213 10%, #050607 11%, #050607 23%, #111213 24%, #111213 30%, #050607 31%, #050607 43%, #111213 44%, #111213 50%, #050607 51%, #050607 63%, #111213 64%, #111213 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, #111213 5%, #050607 6%, #050607 15%, #111213 16%, #111213 20%, #050607 21%, #050607 30%, #111213 31%, #111213 35%, #050607 36%, #050607 45%, #111213 46%, #111213 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, #111213 5%, #050607 6%, #050607 15%, #111213 16%, #111213 20%, #050607 21%, #050607 30%, #111213 31%, #111213 35%, #050607 36%, #050607 45%, #111213 46%, #111213 49%, transparent 50%, transparent);
    background-size:200px 100px;
}*/